### NPM ###
**/node_modules/

### MySQL ###
**/.data/

### Maven ###
**/.mvn/
**/mvnw*
# exclude stuff in target except the jar executable. When matching the whole target folder, then the exception does not seem to work.
**/target/**
!**/target/*.jar
!**/target/*.war

### Gradle ###
**/.gradle/
**/bin/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.springBeans
**/.sts4-cache

### VS Code ###
**/.vscode/

### Git ###
**/.git/
**/.gitignore
