### NPM ###
node_modules/

### MySQL ###
.data/

### Maven ###
.mvn/
target/
mvnw*

### Gradle ###
.gradle/
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### Obsolete commited files ###
application.properties 
Dockerfile 
**/.gitignore
build.gradle